body {
	background-color: #5352d4;
}

img {
	max-width: 100%;
}

a {
	color: #f74470;
}

a:hover {
	color: #f74470;
}

p {
	font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 17px;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 13px;
}

.main {
	min-height: 100vh;
}

.sidebar {
	background-color: #5655da;
	color: white;
	min-height: 100vh;
	text-align: center;
	border-left: 1px solid #5655da;
	border-right: 1px solid #5655da;
}

.sidebar .social .btn {
	color: white;
	opacity: 1;
	border-color: transparent;
}

.sidebar .social .btn:hover {
	background-color: transparent;
	opacity: 0.6;
}

.sidebar .changeColorSchema {
	cursor: default;
}

.content {
	background-color: white;
	color: #444;
}

.content h2 {
	color: #f74470;
}

.content h4 {
	font-weight: normal;
	color: #666;
}

.avatar {
	max-width: 80%;
	filter: grayscale(100%);
}

.position {
	font-weight: normal;
}

.pt {
	display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
